.swiper-pagination-bullet-active
{
 background: #FCDD06 !important;


 margin-top:30px; 
}
.swiper-slide
{
  /* width:700px !important; */
  border-radius: 16px !important;
}

.swiper-button-next
{
  display:none; 
}
.swiper
{
  display:grid;
  place-items: center;
}